<div class="error">
  <h2 class="error__found" style="color: white;">Woah, Internal Error.</h2>
  <h1 class="error__code" style="color: #7289DA;">500</h1>
  <p class="error__message" style="color: white;">Something went seriously wrong here.</p>
  <a href="/" class="error__back">Home</a>
</div>
